/* Small devices */
@media only screen and (max-width: 767px) {
  main {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0px 1px 15px var(--light-lavender);
    padding-bottom: 40px;
    border-radius: 0px 0px 32px 32px;
  }
}

/* Medium to Large devices */
@media only screen and (min-width: 768px) {
  main {
    width: 640px;
    height: 400px;
    background-color: var(--white);
    border-radius: 32px;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 1px 1px 15px var(--light-lavender);
  }
}
