/* Small devices */
@media only screen and (max-width: 767px) {
  button {
    background-color: var(--dark-gray-blue);
    border: none;
    color: var(--white);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 32px;
    font-size: var(--font-size-paragraphs);
  }

  button:hover {
    cursor: pointer;
    background-image: linear-gradient(
      var(--light-slate-blue),
      var(--light-royal-blue)
    );
  }
}

/* Medium to Large devices */
@media only screen and (min-width: 768px) {
  button {
    background-color: var(--dark-gray-blue);
    border: none;
    color: var(--white);
    width: 80%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 32px;
    font-size: var(--font-size-paragraphs);
  }

  button:hover {
    cursor: pointer;
    background-image: linear-gradient(
      var(--light-slate-blue),
      var(--light-royal-blue)
    );
  }
}
